<div class="container">
    <img id="logo" src="logo.PNG" alt="Logo" height="250" width="250">
    <h1 id="signIn" class="md-typescale-title-medium">Iniciar Sesion con:</h1>
    <div>
    <md-filled-button id="GoogleSignUp">
        <span class="fa fa-google fa-lg" width="20px"></span> Google
    </md-filled-button>
    <md-filled-button id="FacebookSignUp">
        <span class="fa fa-facebook fa-lg" width="20px"></span> Facebook
    </md-filled-button>
    <md-filled-button id="AppleSignUp">
        <span class="fa fa-apple fa-lg" width="20px"></span> Apple
    </md-filled-button>
    <md-filled-button id="EmailSignUp" (click)="navigateToEmailSignUp()">
        <span class="fa fa-envelope fa-lg" width="20px"></span> Continuar con Email
    </md-filled-button>
    </div>
</div>