  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #GoogleSignUp{
    --md-sys-color-primary: red;
    margin-bottom: 10px;
    width: 60%;
  }
  
  #FacebookSignUp{
    --md-sys-color-primary: blue;
    width: 60%;
    margin-bottom: 10px;
  }
  
  #AppleSignUp{
    --md-filled-button-label-text-color: black;
    --md-sys-color-primary: white;
    width: 60%;
    margin-bottom: 10px;
  }
  
  #EmailSignUp{
    --md-sys-color-primary: gray;
    width: 60%;
    margin-bottom: 10px;
  }
  